*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --primary-dark: #1F2937;
  --primary-blue: #3882F6;
  --main-white: #ffffff;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button{
  cursor: pointer;
  color: var(--main-white);
  border-radius: 5px;
  margin-top: 1rem;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 30px;
  border: none;
}


/* HEADER STYLING 
_____________________*/
header{
  display: flex;
  justify-content: space-between;
  background: var(--primary-dark);
  color: var(--main-white);
  padding-top: 2rem;
}

header h1{
  
  margin-left: 10rem;
}

header ul{
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10rem;
}

header ul li{
  margin: 0 2rem;
  padding: 1rem;
}

header ul li:hover{
  background: #384a63;
  cursor: pointer;
}

/* HERO SECTION STYLING
_______________________ */
.hero-section{
  display: flex;
  background: var(--primary-dark);
  height: 100vh;
  color: #ffffff;
  padding-top: 10rem;
}

.hero-section .left{
  margin-left: 10rem;
}

.hero-section .left h1{
  font-size: 48px;
  font-weight:  extra-bold;
  color:  #F9FAF8;;
}

.hero-section .left p{
  margin-top: 1rem;
  font-size: 18px;
}

.hero-section .left button{
  background: var(--primary-blue);
}

.hero-section .right{
  margin-right: 5rem;
  margin-left: 5rem;
}

.hero-section .right img{
  height: 25rem;
}


/* Info Section Styling
_________________________ */
.info-section{
  margin-top: 3rem;
}

.info-section h2{
  text-align: center;
}

.products{
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center;
}

.product img{
  height: 10rem;
  width: 10rem;
  border: 6px solid #3882F6;
  border-radius: 2rem;
}

.product p{
  width: 10rem;
  text-align: center;
  font-weight: 100;
  font-style: italic;
}

/* Quote Styling
_________________ */

.quote-section{
  background: #E5E7EB;
  padding: 6rem 10rem;
}

.quote-section p:first-child{
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

.quote-section p:nth-child(2){
  font-weight: 800;
  font-size: 1.5rem;
  text-align: right;
}

/* Call To Action Styling
__________________________ */
.cta-section{
 color: #ffffff;
}

.cta-section .container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--primary-blue);
  margin: 6rem 15rem;
  padding: 4rem;
  border-radius: 2rem;
}

.cta-section p{
  font-weight: 100;
}

.cta-section button{
  background: var(--primary-blue);
  border: 2px solid;
}

/* Footer Styling
___________________ */
footer{
  background: var(--primary-dark);
  color: var(--main-white);
  padding: 6rem;
  text-align: center;
  font-weight: 100;
}